<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-5">
        <nav class="footer-nav">
          <a href="/events/">Events</a>
          <a href="/coc/">Code of Conduct</a> 
        </nav>
      </div>
      <div class="col-lg-3 col-xs-7">
        <p class="copyright text-right">
          Credits By: <a href="http://intellecta.co" target="_blank">Intellecta.CO</a>
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/js/pace.min.js"></script>
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/app.js"></script>
