@mixin trans($x, $y) {
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}
@mixin large-screen {
  @media (min-height: 650px) {
    @content;
  }
}
@mixin mid-screen {
   @media (min-width: 700px) {
     @content;
   }
 }
@mixin narrow-screen {
  @media (max-width: 500px) {
    @content;
  }
}
@mixin small-screen {
  //4-inch phones are making a comeback
  @media (min-width: 384px) {
    @content;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-family: 'Raleway',Helvetica,sans-serif;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #5C258D;
  background: -webkit-linear-gradient(to left, #5C258D, #4389A2);
  background: -webkit-linear-gradient(right, #5C258D, #4389A2);
  background: linear-gradient(to left, #5C258D, #4389A2);
  color: #fff;
  @include large-screen {
    height: 100vh;
  }

  .container {
    height: 100%;
    width: 100%;
    padding-top: 1em;
    @include large-screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      @include trans(-50%,0);
    }

  }

  .row {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    @include large-screen {
      position: absolute;
      left: 15px;
      right: 15px;
      width: auto;
      top: 50%;
      @include trans(0,-50%);
    }
  }

  .logo img {
    width: 95px;
    height: auto;
    transition: width 0.3s, height 0.3s;

    @include mid-screen {
      width: 140px;
    }
  }

  .hero-buttons {
    margin-bottom: 4rem;

    @include mid-screen {
      margin-bottom: 7rem;
    }

    .btn {
      margin-bottom: 1rem;
    }
  }

  .row:before, .row:after,
  .container:before, .container:after {display: none;}
}

.hero:before, .hero:after {
  display: none;
}

h1.title {
  font-weight: 600;
  font-size: 1.8em;
  margin: 0.5em auto;
  }

.slogan {
  max-width: 800px;
  margin: 0.5em auto 1.5em;
  font-size: 26px;
  transition: font-size 0.3s;
  @include narrow-screen {
    font-size: 16px;
  }
}

canvas {
  display: block;
  z-index: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.hero a { color: #fff;}

.heroimg {
  max-height: 400px;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
  width: 100%;
  padding: 0;
}

.middle {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.intro {
  background: #FBFBFB;

  .biglogo {
    img {
      max-width: 100%;
    }
  }
  a {
    img {
      outline: solid 2px rgba(51,122,183,0);
      transition: outline 300ms;
    }
  }
  a:hover {
    img {
      outline: solid 2px rgba(51,122,183,0.7);
    }
  }
}
.btn-round {
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px 10px 35px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.btn-round:hover {
  background: #fff;
  color: #000;
}
.arrow {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  bottom: 0;
  background-image: url("/assets/images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  @include large-screen {
    position: absolute;
    left: 50%;
    @include trans(-50%, 0);
  }
}

.__slackin {
  display: block;
  position: relative;
  margin: 1.5em auto;
  @include narrow-screen {
    margin: 1em auto;
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.intro p, .intro li {font-size: 14px;margin-top:10px;}
.intro h1 {padding-top: 50px; margin:0px; color: #5C258D;}
.founders {
    max-width: 700px;
    margin: 0px auto;
    margin-top: 20px;
}
.founders figure {
    width: 150px;
    height: 150px;
    position: relative;
    -webkit-transition: .3s;
  transition: .3s;
}

h3 {color: #5C258D;}

.founders img {
    max-width: 100%;
    -webkit-transition: .3s;
  transition: .3s;
}

.founders li { margin-bottom: 20px;}
p.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0px;
    font-size: 15px;
    padding-top: 37%;
    display:none;
    -webkit-transition: .3s;
  transition: .3s;
}

.founders figure:hover .caption{
  background: rgba(90, 45, 142, 0.78);
    color: #fff;
    display: block;
    -webkit-transition: .3s;
  transition: .3s;
}

a.arrow-link {
  display: block;
  height: 40px;
  width: 40px;
}

.logos img { max-width: 150px;}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

/* Footer Area */
.join {
  background-color: #FBFBFB;

  iframe {
    overflow: hidden;
  }
}
p.copyright {
    font-size: 12px;
    font-family: arial;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
}

/* Inner Pages */
.innerPage {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #5C258D;
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2);
  background: -webkit-linear-gradient(right, #5C258D , #4389A2);
  background: linear-gradient(to left, #5C258D , #4389A2);
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;

}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
p.author {
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
.whitebg { background: #fff !important}
.innerPage h1 { color: #fff;}
.channelsList p {line-height: 22px;}

.footer {
  margin: 0px;
  padding: 10px;

  font-size: 12px;
  font-family: arial;
  text-transform: uppercase;
  background: #FBFBFB;

  p {
    padding: 10px;
  }
  a {
    display: inline-block;
    margin-right: 20px;
  }
}

.channels { padding-bottom: 100px;}
.channels hr { padding-bottom: 50px;}
p.copyright span {float: right;}
.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(255, 255, 255, 0.19999999999999996);
}

/*-------------------------------*/
/*    Responsive Media Queries   */
/*-------------------------------*/
@media(max-width: 700px) {
    .slogan {
      font-size: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .logo img{
      max-width: 95px;
      height: auto;
    }
    .intro h1 {
      font-size: 28px;
    }
    .channels hr {
      padding: 0px;
    }
    .channels {
      padding-bottom: 30px;
    }
}
