[v-cloak] {
    display: none;
}

.agenda {
    &.list-group {
        padding-left: 0;
    }

    .fa {
        width: 16px;

        margin-right: 5px;
        text-align: center;
    }

    .start-time, .end-time {
        display: inline-block;
        white-space: nowrap;
    }

    .no-events {
      &:not(:first-child) {
        display: none;
      }
    }
}
