.tm-splash {
  width: 100%;
  height: 20vh;
  flex-shrink: 0;
  position: relative;

  .tm-hero {
    position: absolute;
    z-index: 3;

    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:before {
    background: url('/assets/images/banner.jpg') 100% 60% / cover;
  }

  &:after {
    z-index: 1;
    // background-color: rgba(103, 58, 183, 0.4);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.tm-main {
  margin-top: -10vh;
  margin-bottom: 80px;
  flex-shrink: 0;
}

.tm-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.mdl-layout-title {
  line-height: 40px;

  img {
    height: 40px;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 1024px) {
  .tm-content {
    padding: 40px 28px;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 300;
  }
}

.tm-footer {
  padding-left: 40px;

  min-height: 101px;
  box-sizing: border-box;

  .mdl-mini-footer--link-list a {
    font-size: 13px;
  }
}

.tm-content {
  border-radius: 2px;
  padding: 60px;
  margin-bottom: 60px;

  h3 {
    margin-top: 48px;
  }
}
