---
layout: default
---

<header class="innerPage">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="/"><img src="/assets/images/logo.png" width="70" alt=""></a>
      </div>
      <div class="col-lg-8">
        <h1 class="text-right">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</header>

<section class="intro whitebg" id="maincontent">
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-lg-12">{{ content }}</div>
    </div>
  </div>
</section>
